@font-face {
    font-family: "Space Mono";
    src: url(SpaceMono-Regular.ttf);
}
@font-face {
    font-family: "Space Mono Bold";
    src: url(SpaceMono-Bold.ttf);
}
@font-face {
    font-family: "Space Mono Italic";
    src: url(SpaceMono-Italic.ttf);
}
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
#my-library {
    font-family: "Space Mono Bold";
    font-size: 50px;
    margin: 0 30px 0 0;
}
button {
    position: relative;
    cursor: pointer;
    font-family: "Space Mono";
    border: none;
    background-color: cornflowerblue;
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    top: 5px;
    margin-right: 10px;
}
#sample-books {
    background-color: white;
    border: 2px solid cadetblue;
    color: cadetblue;
}
body {
    font-family: "Space Mono";
    margin: 10vh 6vh 10vh 6vh;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
#card {
    border-radius: 12px;
    background-color: aliceblue;
    padding: 25px 50px 25px 25px;
    position: relative;
}
#card:hover {
    border: 2px solid #a0c6e7;
}
#delete-button {
    display: none;
    margin-right: 0;
    color: #a0c6e7;
}
#card:hover #delete-button {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 8px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-size: 25px;
    padding: 0 0;
}
.title {
    font-family: "Space Mono Bold";
    font-size: 18px;
    margin: 0 0;
    margin-bottom: 5px;
}
#author-pages-read {
    margin: 0 0;
    /* prevent highlight */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#read {
    margin: 0 0;
}
#read:hover {
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
#form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    background-color: white;
    padding: 5px 40px 40px 40px;
    border-radius: 12px;
}
legend {
    font-family: "Space Mono Bold";
    font-size: 36px;
    font-weight: 2000;
    margin: 28px 0 15px 0;
}
.field {
    margin-bottom: 30px;
}
.read-yet {
    margin-bottom: 22px;
}
.text-input {
    border: none;
    border-bottom: 1px dotted black;
    font-family: "Space Mono";
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-top: 3px;
    padding-left: 5px;
}
.text-input:focus {
    outline-width: 0;
    background-color: aliceblue;
    border: none;
}
#X {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: black;
    font-size: 30px;
    right: 9px;
    margin-right: 0;
}
#X:hover {
    color: cadetblue;
}
label {
    font-size: 20px;
    margin-right: 8px;
}
input[type='checkbox'] { 
    transform: scale(1.5);
    cursor: pointer;
}
/* remove arrows from page input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}